/* Importação da fonte Fira Sans do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600;700&display=swap');

:root {
  --cor-fundo: #f8f8f8;
  --cor-fundo-dark: #111;
  --cor-fundo-card: #ffffff;
  --cor-texto: #333333;
  --cor-texto-suave: #666666;
  --cor-principal: #a629c2;
  --cor-secundaria: #f57920;
  --sombra-card: rgba(0, 0, 0, 0.08);
  --fonte-principal: 'Fira Sans', sans-serif; /* Alterado para Fira Sans */
}

body {
  font-family: var(--fonte-principal);
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.btn {
  display: inline-block;
  /* background-color: var(--cor-principal); */
  background-image: linear-gradient(
    to right,
    var(--cor-principal),
    var(--cor-secundaria)
  ); /* Gradiente do Figma */
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-detalhes:hover {
  background-color: #5b4ddc;
  transform: translateY(-2px);
}

.shadow {
  box-shadow: 0 0 20px var(--sombra-card);
}
