* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carrosel-container {
  position: relative;
  background: #222;
}
.carrosel-lista {
  list-style: none;
  overflow: hidden;
}
.carrousel-item {
  position: relative;
  display: none;
  color: #fff;
  height: 100vh;
  min-width: 100%;
}
.carrousel-item.ativo {
  display: block;
  opacity: 0;
  animation: fade 1s ease forwards;
}
.carrosel-img {
  filter: brightness(0.3);
  height: 100vh;
}
.carrosel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carrosel-txt {
  animation: 1s top ease .3s forwards;
  opacity: 0;
  transform: translate3d(0, -30%, 0);
  position: absolute;
  top: 50%;
  left: 120px;
}
.carrosel-txt a {
  color: currentColor;
  text-decoration: none;
  padding: 8px 26px; 
  background: none;
  border: 2px solid #fff;
  display: inline-block;
  border-radius: 4px;
  margin-top: 20px;
  transition: .3s;
}
.carrosel-txt a:hover {
  color: #000;
  background: #fff;
}
.carrosel-btn button {
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  padding: 0 80px 0 40px;
  cursor: pointer;
  color: #fff;
  font-size: 3rem;
}
.carrosel-btn button:hover {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), transparent);
}
.carrosel-btn button.btn-proximo {
  padding: 0 40px 0 80px;
  right: 0;
}
.carrosel-btn button.btn-proximo:hover {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.2), transparent);
}

.carrosel-dots {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 16px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.carrosel-dots span {
  border: 1px solid #fff;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}
.carrosel-dots span.ativo {
  background: #fff;
}


/*animações*/
@keyframes fade {
  to {
    opacity: 1;
  }
}
@keyframes top {
  to {
    opacity: 1;
    transform: translate3d(0, -50%, 0);
  }
}
