:root {
  --w: #fafafa;
  --c1: #f7f7f7;
  --c2: #ededed;
  --c3: #dedede;
  --c4: #cccccc;
  --c5: #b2b2b2;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #595959;
  --c9: #222;
  --c10: #151515;
  --b: #111;
  --cp1: #7E57C2;
}