* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
body {
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 20px;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  padding-bottom: 20px;
}
#galeria {
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  column-count: 4;
}

#galeria li {
  cursor: pointer;
}

.galeria-container {
  display: none;
}
.galeria-container.ativo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
}
.galeria-box {
  position: relative;
}
.galeria-img {
  position: relative;
  color: #fff;
  width: 800px;
  margin: revert;
  height: 560px;
}
.galeria-img img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galeria-container button {
  background: none;
  border: none;
  color: #ddd;
  font-size: 4rem;
  font-weight: 300;
  line-height: 12px;
  cursor: pointer;
}
#close-galeria {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  color: #ddd;
  font-size: 4rem;
  font-weight: 300;
  line-height: 12px;
  margin: 0 auto;
}
.galeria-controls {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 900px;
  font-weight: 300;
  margin: 0 auto;
  justify-content: space-between;
}

@media (max-width: 992px) {
  #galeria {column-count: 3;}
  .galeria-img {
    width: 84vw;
    height: 400px;
  }
}
@media (max-width: 768px) {
  #galeria {column-count: 2;}  
}