.habilidades-bg {
  background: #111;
}

.habilidades {
  padding: 80px 0px;
  text-align: center;
}
.habilidades-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 8px;
}
.habilidades li {
  flex: 1 2 100px;
  margin: 0;
  padding: 32px 64px;
  background-color: #222;
  border-radius: 4px;
  color: #fff;
  max-width: 200px;
}