.habilidades-bg {
  background: transparent;
}

.habilidades {
  padding: 120px 0px;
  color: #fff;
}

.habilidades h1 {
  text-align: center;
  margin-bottom: 20px;
}

.habilidades-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.habilidades-lista li {
  text-align: center;
  flex: 1 1 200px;
  padding: 32px;
  background-color: #222;
  border-radius: 4px;
}