.habilidades-bg {
  background: transparent;
}

.habilidades {
  padding: 120px 0px;
  color: #fff;
}

.habilidades h1 {
  text-align: center;
  margin-bottom: 20px;
}

.habilidades-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.habilidades-lista div {
  width: 100%;
  flex: 1;
  padding: 32px;
  background-color: #222;
  border-radius: 4px;
  min-height: 400px;
}