.intro-bg {
  background: linear-gradient(#5c1963, #111 60%);
  color: #ffffff;
}

.intro {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 40px 0px;
  align-items: center;
  min-height: 90vh;
}

.intro-img {
  width: 100%;
}

@media (max-width: 600px) {
  .intro {
    grid-template-columns: 1fr;
  }
  .intro-txt {order: 1;}
}
