.intro-bg {
  background: #000;
  color: #fff;
  background: linear-gradient(60deg, black 48%, white 0%);
}

.intro {
  min-height: 88vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.intro-content {
  max-width: 460px;
}

.intro-img {
  width: 100%;
  max-width: 600px;
  align-self: end;
  position: relative;
  bottom: -5px;
}

.intro-img img {
  width: 100%;
  height: auto;
}


@media (max-width: 992px) {
  .intro {
    grid-template-columns: 1fr;
  }
  .intro-txt {order: 1;}
}
