.intro-bg {
  background: linear-gradient(#5c1963, #111 60%);
  color: #fff;
}

.intro {
  display: grid;
  grid-template-columns: 2fr 3fr;
  /* text-align: right; */
  padding: 40px 0px;
  align-items: center;
  min-height: 90vh;
}

.intro-img {
  width: 100%;
}
