.sobre-bg {
  background: var(--b);
  border-radius: 0 0 260px 140px;
  padding: 120px 0;
}
.sobre {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 40px;
  align-items: center;
}

.sobre-img {
  box-shadow: -40px 0px 0 -20px #555;
  margin-left: 20px;
}

.sobre-img img {
  border-radius: 8px;;
}

.sobre-content h1 {
  margin-bottom: 32px;
}

.sobre-content .link-alt {
  margin: 20px 0;
}

@media (max-width: 768px) {
  .sobre {
    grid-template-columns: 1fr;
  }
  .sobre-content {
    order: -1;
  }
}
